.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 2000;
  overflow-y: auto; 
  overflow-x: hidden;
}

.outskirtsOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 2000;
  overflow-y: auto; 
}

.modalContent {
  max-height: 90vh;
}

.outskirtsContent {
  /*max-height: 90vh;*/
}

@media (max-width: 800px) {
  .outskirtsOverlay {
    justify-content: flex-start;
  }
  .outskirtsContent {
    max-width: 100%;
  }
}
