BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_create_economy

DROP TYPE IF EXISTS resourcesourcetype CASCADE;

DROP TYPE IF EXISTS pooltype CASCADE;

DROP TYPE IF EXISTS lottype CASCADE;

DROP TYPE IF EXISTS lotstatus CASCADE;

CREATE TYPE resourcesourcetype AS ENUM ('RESOURCE_LOCATION', 'CITY_LOCATION', 'OTHER');

CREATE TYPE pooltype AS ENUM ('BUYOUT', 'LOCATIONS', 'PLAYERS');

CREATE TYPE lottype AS ENUM ('BUY', 'SELL');

CREATE TYPE lotstatus AS ENUM ('ACTIVE', 'PARTIALLY_FILLED', 'FILLED', 'CANCELLED');

CREATE TABLE economy_resources (
    id UUID NOT NULL, 
    external_resource_id VARCHAR(128) NOT NULL, 
    code VARCHAR(128) NOT NULL, 
    name VARCHAR(128) NOT NULL, 
    icon_url VARCHAR(512), 
    source_type resourcesourcetype NOT NULL, 
    is_tradeable BOOLEAN DEFAULT true NOT NULL, 
    initial_price NUMERIC(18, 4) NOT NULL, 
    min_price NUMERIC(18, 4), 
    max_price NUMERIC(18, 4), 
    CONSTRAINT economy_resources_pkey PRIMARY KEY (id), 
    CONSTRAINT economy_resources_external_resource_id_key UNIQUE (external_resource_id), 
    CONSTRAINT economy_resources_code_key UNIQUE (code)
);

CREATE TABLE resource_current_prices (
    id UUID NOT NULL, 
    resource_id UUID, 
    price NUMERIC(18, 4) NOT NULL, 
    previous_price NUMERIC(18, 4), 
    last_recalculated_at TIMESTAMP WITH TIME ZONE, 
    next_recalculation_at TIMESTAMP WITH TIME ZONE, 
    CONSTRAINT resource_current_prices_pkey PRIMARY KEY (id), 
    CONSTRAINT resource_current_prices_resource_id_key UNIQUE (resource_id), 
    CONSTRAINT resource_current_prices_resource_id_fkey FOREIGN KEY(resource_id) REFERENCES economy_resources (id) ON DELETE CASCADE
);

CREATE TABLE buyout_stocks (
    id UUID NOT NULL, 
    resource_id UUID, 
    quantity NUMERIC(24, 6) DEFAULT '0' NOT NULL, 
    CONSTRAINT buyout_stocks_pkey PRIMARY KEY (id), 
    CONSTRAINT buyout_stocks_resource_id_key UNIQUE (resource_id), 
    CONSTRAINT buyout_stocks_resource_id_fkey FOREIGN KEY(resource_id) REFERENCES economy_resources (id) ON DELETE CASCADE
);

CREATE TABLE resource_pool_snapshots (
    id UUID NOT NULL, 
    resource_id UUID NOT NULL, 
    pool_type pooltype NOT NULL, 
    quantity NUMERIC(24, 6) NOT NULL, 
    snapshot_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT resource_pool_snapshots_pkey PRIMARY KEY (id), 
    CONSTRAINT resource_pool_snapshots_resource_id_fkey FOREIGN KEY(resource_id) REFERENCES economy_resources (id) ON DELETE CASCADE
);

CREATE TABLE exchange_lots (
    id UUID NOT NULL, 
    resource_id UUID NOT NULL, 
    owner_character_id UUID NOT NULL, 
    lot_type lottype NOT NULL, 
    status lotstatus NOT NULL, 
    initial_quantity NUMERIC(24, 6) NOT NULL, 
    remaining_quantity NUMERIC(24, 6) NOT NULL, 
    price_per_unit NUMERIC(18, 4) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT exchange_lots_pkey PRIMARY KEY (id), 
    CONSTRAINT exchange_lots_resource_id_fkey FOREIGN KEY(resource_id) REFERENCES economy_resources (id)
);

INSERT INTO alembic_version (version_num) VALUES ('0001_create_economy') RETURNING alembic_version.version_num;

-- Running upgrade 0001_create_economy -> 0002_create_economy_transactions

DROP TYPE IF EXISTS transactiontype CASCADE;

CREATE TYPE transactiontype AS ENUM ('BUYOUT_BUY', 'BUYOUT_SELL', 'EXCHANGE_BUY', 'EXCHANGE_SELL', 'ADMIN_RESET');

CREATE TABLE economy_transactions (
    id UUID NOT NULL, 
    transaction_type transactiontype NOT NULL, 
    resource_id UUID NOT NULL, 
    quantity NUMERIC(24, 6) NOT NULL, 
    price_per_unit NUMERIC(18, 4) NOT NULL, 
    total NUMERIC(24, 4) NOT NULL, 
    buyer_id UUID, 
    seller_id UUID, 
    lot_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT economy_transactions_pkey PRIMARY KEY (id), 
    CONSTRAINT economy_transactions_resource_id_fkey FOREIGN KEY(resource_id) REFERENCES economy_resources (id), 
    CONSTRAINT economy_transactions_lot_id_fkey FOREIGN KEY(lot_id) REFERENCES exchange_lots (id)
);

CREATE INDEX economy_transactions_transaction_type_idx ON economy_transactions (transaction_type);

CREATE INDEX economy_transactions_resource_id_idx ON economy_transactions (resource_id);

CREATE INDEX economy_transactions_buyer_id_idx ON economy_transactions (buyer_id);

CREATE INDEX economy_transactions_seller_id_idx ON economy_transactions (seller_id);

CREATE INDEX economy_transactions_lot_id_idx ON economy_transactions (lot_id);

UPDATE alembic_version SET version_num='0002_create_economy_transactions' WHERE alembic_version.version_num = '0001_create_economy';

-- Running upgrade 0002_create_economy_transactions -> 0003

ALTER TYPE transactiontype ADD VALUE IF NOT EXISTS 'EXCHANGE_CANCEL';

UPDATE alembic_version SET version_num='0003' WHERE alembic_version.version_num = '0002_create_economy_transactions';

-- Running upgrade 0003 -> 0004

DROP TYPE IF EXISTS pricerecalculationstatus CASCADE;

DROP TYPE IF EXISTS pricerecalculationreason CASCADE;

CREATE TYPE pricerecalculationstatus AS ENUM ('STARTED', 'COMPLETED', 'FAILED');

CREATE TYPE pricerecalculationreason AS ENUM ('SCHEDULED', 'MANUAL', 'ADMIN_RESET');

CREATE TABLE price_recalculations (
    id UUID NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    finished_at TIMESTAMP WITH TIME ZONE, 
    status pricerecalculationstatus NOT NULL, 
    reason pricerecalculationreason NOT NULL, 
    next_recalculation_at TIMESTAMP WITH TIME ZONE, 
    error_message TEXT, 
    CONSTRAINT price_recalculations_pkey PRIMARY KEY (id)
);

CREATE INDEX price_recalculations_started_at_idx ON price_recalculations (started_at);

CREATE INDEX price_recalculations_status_idx ON price_recalculations (status);

CREATE INDEX price_recalculations_reason_idx ON price_recalculations (reason);

CREATE INDEX price_recalculations_next_recalculation_at_idx ON price_recalculations (next_recalculation_at);

ALTER TABLE resource_pool_snapshots ADD COLUMN recalculation_id UUID;

ALTER TABLE resource_pool_snapshots ADD CONSTRAINT resource_pool_snapshots_recalculation_id_fkey FOREIGN KEY(recalculation_id) REFERENCES price_recalculations (id);

CREATE INDEX resource_pool_snapshots_recalculation_id_idx ON resource_pool_snapshots (recalculation_id);

CREATE TABLE price_recalculation_items (
    id UUID NOT NULL, 
    recalculation_id UUID NOT NULL, 
    resource_id UUID NOT NULL, 
    old_price NUMERIC(18, 4) NOT NULL, 
    new_price NUMERIC(18, 4) NOT NULL, 
    buyout_previous_quantity NUMERIC(24, 6) NOT NULL, 
    buyout_current_quantity NUMERIC(24, 6) NOT NULL, 
    locations_previous_quantity NUMERIC(24, 6) NOT NULL, 
    locations_current_quantity NUMERIC(24, 6) NOT NULL, 
    players_previous_quantity NUMERIC(24, 6) NOT NULL, 
    players_current_quantity NUMERIC(24, 6) NOT NULL, 
    buyout_delta_percent NUMERIC(12, 4) NOT NULL, 
    locations_delta_percent NUMERIC(12, 4) NOT NULL, 
    players_delta_percent NUMERIC(12, 4) NOT NULL, 
    price_delta_percent NUMERIC(12, 4) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT price_recalculation_items_pkey PRIMARY KEY (id), 
    CONSTRAINT uq_price_recalculation_resource UNIQUE (recalculation_id, resource_id), 
    CONSTRAINT price_recalculation_items_recalculation_id_fkey FOREIGN KEY(recalculation_id) REFERENCES price_recalculations (id) ON DELETE CASCADE, 
    CONSTRAINT price_recalculation_items_resource_id_fkey FOREIGN KEY(resource_id) REFERENCES economy_resources (id)
);

CREATE INDEX price_recalculation_items_recalculation_id_idx ON price_recalculation_items (recalculation_id);

CREATE INDEX price_recalculation_items_resource_id_idx ON price_recalculation_items (resource_id);

CREATE TABLE economy_scheduler_state (
    id UUID NOT NULL, 
    job_name VARCHAR(128) NOT NULL, 
    last_run_at TIMESTAMP WITH TIME ZONE, 
    next_run_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    locked_until TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT economy_scheduler_state_pkey PRIMARY KEY (id), 
    CONSTRAINT economy_scheduler_state_job_name_key UNIQUE (job_name)
);

CREATE INDEX economy_scheduler_state_job_name_idx ON economy_scheduler_state (job_name);

CREATE INDEX economy_scheduler_state_next_run_at_idx ON economy_scheduler_state (next_run_at);

CREATE INDEX economy_scheduler_state_locked_until_idx ON economy_scheduler_state (locked_until);

UPDATE alembic_version SET version_num='0004' WHERE alembic_version.version_num = '0003';

COMMIT;

